<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.felohscodes.onroadmech">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".JobRequests"
            android:label="@string/title_activity_job_requests"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".EngageProvider"
            android:label="@string/title_activity_engage_provider"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TowMap"
            android:label="@string/title_activity_tow_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MechanicsMap"
            android:label="@string/title_activity_mecahics_map"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".CompanyProfile"
            android:label="@string/title_activity_company_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ServiceLogin"
            android:label="@string/title_activity_service_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ServiceRegistration"
            android:label="@string/title_activity_s_reg_act"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CarRepairHelp"
            android:label="@string/title_activity_car_repair_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>